<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="background-color: #f7f7f7; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px;">
      <h2>Thank you for the feedback!</h2>
      <p>Dear {{email}},</p>
      <p>Thank you for taking the time to provide me with feedback. I truly appreciate your valuable insights and constructive comments. Your feedback will undoubtedly help me improve and grow in my professional journey.</p>
      <p>I will carefully review your feedback and make the necessary adjustments to enhance my skills and qualifications. I am grateful for the opportunity to learn from your expertise and guidance.</p>
      <p>Once again, thank you for your time and consideration. I remain enthusiastic about future opportunities and look forward to the possibility of working together in the future.</p>
      <p>Best regards,</p>
      <p>Ram Chandra B</p>
      <p>{{sender}}</p>
    </div>
  </div>
</body>
</html>