<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div style="background-color: #f7f7f7; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px;">
      <h2>Thank you for the feedback!</h2>
      <p>Hello {{email}},</p>
      <p>Thank you for your feedback on my Portfolio. I appreciate your input and will consider it for future improvements.</p>
      <p>Best regards,</p>
      <p>Ram Chandra</p>
      <p>{{sender}}</p>
    </div>
  </div>
</body>
</html>